<div class='social_links'>
<div class='weibo_share_question_<%=i%>'>
<script>
  //<![CDATA[
    weibo_button('weibo_share_question_<%=i%>', '<%=message%>', '<%=path%>', '<%=asset_path project.try(:image_path, :sina_poster)%>', '')
  //]]>
</script>

</div>
<div class='renren_share_question_<%=i%>'>
<script>
  //<![CDATA[
    renren_button('renren_share_question_<%=i%>', '<%=message%>', '<%=path%>', '<%=asset_path project.try(:image_path, :sina_poster)%>', '')
  //]]>
</script>

</div>
<div class='qq_share_question_<%=i%>'>
<script>
  //<![CDATA[
    qq_button('qq_share_question_<%=i%>', '<%=message%>', '<%=path%>', '<%=asset_path project.try(:image_path, :sina_poster)%>', '')
  //]]>
</script>

</div>
</div>