.title 感谢您的参与！
#finished
  %p
    - if @project.id.to_i==14
      恭喜！您已经答对<span>#{user_correct_count}</span>题，获得“宜农贷”5元助农卡1张，请在站内信中查收卡号与密码。
    - else
      恭喜！你已经答对<span>#{user_correct_count}</span>题，为“#{current_project.name}”项目捐助了<span>#{user_correct_count/current_project.rate}</span>#{current_project.benefit.unit}#{current_project.benefit.name}。
  现在可以点击
  - if @project.id.to_i == 14
    - @message = "【趣味微公益】我今天爱心爆棚了！刚刚在“小题大作”网站参与了趣味公益问答，目前累计答对#{user_correct_count}题，每答对20题即获得5元@宜农贷 爱心助农卡，众人拾柴火焰高，一起帮贫困农户改变命运！"
  - elsif @project.id.to_i == 16
    - @message = "【趣味微公益】我今天爱心爆棚了！刚刚在“小题大作”网站参与了趣味公益问答，目前累计答对#{user_correct_count}题。很难凭一个人的力量捐助1个@满天星公益 的儿童阅读推广计划，快来帮帮我吧！@与人公益基金会"
  - elsif @project.id.to_i == 18
    - @message = "【趣味微公益】我今天爱心爆棚了！刚刚在“小题大作”网站参与了趣味公益问答，目前累计答对#{user_correct_count}题，每答对30题，小题大作微公益即向湖南鲁坑小学捐赠1两大米，用于学生营养餐项目，一起来帮助山里娃吃上健康午餐吧！"
  - else
    - @message = current_project.rate>2000 ? "【趣味微公益】我刚刚在“小题大作”网站参与了趣味公益问答。答对#{user_correct_count}题，很难凭一个人的力量捐助1#{current_project.benefit.unit}#{current_project.benefit.name}。快来帮帮我吧！" : "【趣味微公益】我刚刚在“小题大作”网站参与了趣味公益问答。答对#{user_correct_count}题，为“#{current_project.name}”项目捐助了#{user_correct_count/current_project.rate}#{current_project.benefit.unit}#{current_project.benefit.name}。你也快来吧！"
  - @path = "#{project_path(@project, :in => 'snf', :referer_id => current_user.id)}"
  = render :partial => 'social_links', :locals => {:message => @message, :path => @path}
  分享你的爱心纪录，鼓励更多朋友一起答题献爱心！
  %p
    点击下一题即可继续答题
    %a.next{:href => random_questions_path(:project_id => @project.id)}
