.social_links
  .weibo_share_question
    :javascript
      weibo_button('weibo_share_question', '#{message}', '#{path}', '#{project_image_path(current_project, :sina_poster)}', '')
  .renren_share_question
    :javascript
      renren_button('renren_share_question', '#{message}', '#{path}', '#{project_image_path(current_project, :renren_poster)}', '')
  .qq_share_question
    :javascript
      qq_button('qq_share_question', '#{message}', '#{path}', '#{project_image_path(current_project, :qq_poster)}', '')
