.social_links
  .weibo_share_question1
    :javascript
      weibo_button('weibo_share_question1', '#{message}', '#{path}', '#{asset_path current_project.try(:image_path, :sina_poster)}', '')
  .renren_share_question1
    :javascript
      renren_button('renren_share_question1', '#{message}', '#{path}', '#{asset_path current_project.try(:image_path,:renren_poster)}', '')
  .qq_share_question1
    :javascript
      qq_button('qq_share_question1', '#{message}', '#{path}', '#{asset_path current_project.try(:image_path,:qq_poster)}', '')
