= simple_form_for(@project , :html => { :multipart => true }) do |ff|
  
  = simple_fields_for @project.common_data do |f|
    %h3
      基本信息
    .p
      = render partial: 'form_basic_info', locals: {form: f}

    %h3
      项目详情
    .p
      = render partial: 'form_project_info', locals: {form: f}

    %h3
      答题页
    .p
      = render partial: 'form_question', locals: {form: f}

    %h3
      分享信息
    .p
      = render partial: 'form_share', locals: {form: f}

    .p
      = f.input :hidden, label: '隐藏'
  %h3
    项目二信息
  .p
    = render partial: 'form_only_for_project2',locals: {form: ff}
    = ff.submit