.project_inner
  .image
    = link_to image_tag(asset_path("projects/"+project.id.to_s+"/square.jpg"), :alt => project.common_data.name), past_project_path(project)
  .stats
    .header_row
      = link_to project.common_data.name, past_project_path(project)
    .row
      捐出物品:
      - if project.common_data.benefit.cost 
        价值#{project.common_data.benefit.cost}元的#{project.common_data.benefit.name}
      %span.orange.big
        = project.common_data.item_count
      = project.common_data.benefit.unit
    .row
      参与人数:
      %span.orange= project.common_data.participation_count
    .row
      答题数:
      %span.orange= project.common_data.correct_count
    .row 项目时间: #{project.common_data.start_time.strftime "%y年%m月%d日"}-#{project.common_data.end_time.strftime "%y年%m月%d日"}
  .logos
    %table
      %tr
        %td
          = image_tag(organization_image_path(project.common_data.sponsor), :width => '100', :alt => project.common_data.sponsor.name)
      %tr{:height=>15}
      %tr
        %td
          = image_tag(organization_image_path(project.common_data.coordinator), :width => '100', :height =>'44', :alt => project.common_data.coordinator.name)
  .clear
