<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @new_admin_home_notice.url %>
</p>

<p>
  <b>Title:</b>
  <%= @new_admin_home_notice.title %>
</p>


<%= link_to 'Edit', edit_new_admin_home_notice_path(@new_admin_home_notice) %> |
<%= link_to 'Back', new_admin_home_notices_path %>
