 
.user_stats
  .photo
    -if current_user.avatar_url
      = image_tag current_user.avatar_url, :alt => current_user.nickname
    - else
      = image_tag asset_path('static/auth/default.jpg'), :alt => current_user.nickname
  .info
    .name= current_user.nickname
    .type= t current_user.type
    /.logout_link= button_to t(:'user.session.logout'), destroy_user_session_path, :method => :delete
  .stats
    %table
      %tr
        %td.labels.bordered 答对
        %td.numbers.bordered.user_correct_count= current_user.correct_count
        %td.subscripts.bordered
          剩余
          .answer_limit= current_user.answer_quota
      %tr
        %td.labels 排名
        %td.numbers= current_user.rank.first
        %td.subscripts
          %a.jiathis.jiathis_txt{:href => "#"}
            分享排名

%script(type="text/javascript")
  /var jiathis_config={boldNum:0,siteNum:4,showClose:false,hideMore:true,sm:"tsina,renren,douban,tqq",title:"【答题做公益】",summary:"我正在@小题大作微公益 网站答题献爱心，已经答对#{current_user.correct_count}题，累积爱心值达到#{current_user.rank_score}啦！排名前#{current_user.rank.first},快来加入我的微公益之旅吧，小题目，也能有大作为!",url:"http://dazuoxiaoti.com",data_track_clickback:true}
/%script(type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1358761270750813" charset="utf-8")

