%div{'data-role' => 'page', :id => 'pageone'}
  %div{'data-role' => 'panel', 'data-dismissible' => 'true', 'id' => 'project_panel', 'style' => 'padding:0; background: #fffff0'}
    #project_list
      .columns.list
        .projects_list
          - @projects.each do |p|
            .project_block
              = render :partial => 'mobile/projects/project_block', :locals => {project: p, show: true}
          - @past_projects.each do |pp|
            .project_block
              = render :partial => 'mobile/projects/past_project_block', :locals => {project: pp, show: true}
    #project_detail
  %div{'data-role' => 'content', 'style' => 'padding: 0; background: #fffff0'}
    .page_header{'style' => 'background: #ff6000; color: #fff; display: table'}
      %a.left_link.header_item{'href' => '#project_panel'}
        =image_tag asset_path('static/menu.png')
      %h3.title.header_item 小题大作
      %a.right_link.header_item{'href' => '#question_set_panel'}
        =image_tag asset_path('static/gear.png')
    .columns{'style' => 'width:100%; background: #fffff0'}
      .question_left
        .content
          载入中，请稍后
        %script
          $(document).on("pageinit","#pageone", function(){$.get('/mobile/questions/random.js')})
      .clear
  %div{'data-role' => 'panel', 'data-position' => 'right', 'data-display' => 'reveal' ,'id' => 'question_set_panel', 'style' => 'background: #fffff0'}
    -if user_signed_in?
      = render :partial => "mobile/home/user_info"
      = render :partial => "mobile/question_sets/list"
    -else
      = render :partial => "mobile/home/login"
