#pageone{'data-role' => 'page'}
  #project_panel{'data-role' => 'panel'}
    #project_list
      .columns.list
        .projects_list
          - @projects.each do |p|
            .project_block
              = render :partial => 'mobile/projects/project_block', :locals => {project: p, show: true}
          - @past_projects.each do |pp|
            .project_block
              = render :partial => 'mobile/projects/past_project_block', :locals => {project: pp, show: true}
    #project_detail
  #question_page{'data-role' => 'content'}
    .page_header
      %a.left_link.header_item{'href' => '#project_panel'}
        =image_tag asset_path('static/menu.png')
      .title.header_item
        %h3.guide_page_open 小题大作
        .guide_page_icon.guide_page_open
          =image_tag asset_path('static/mobile_guide/qmark.png');
      %a.right_link.header_item{'href' => '#question_set_panel'}
        =image_tag asset_path('static/gear.png')
    .columns
      .question_left
        .content
          载入中，请稍后
      .clear
  #question_set_panel{'data' => {'role' => 'panel', 'position' => 'right'}}
    -if user_signed_in?
      = render :partial => "mobile/home/user_info"
      = render :partial => "mobile/question_sets/list"
    -else
      = render :partial => "mobile/home/login"
  #guide_page.hidden
    #background
    #project.item
      .arrow= image_tag asset_path('static/mobile_guide/arrow.png');
      .text= image_tag asset_path('static/mobile_guide/project.png');
    #question_set.item
      .arrow= image_tag asset_path('static/mobile_guide/arrow.png');
      .text= image_tag asset_path('static/mobile_guide/question_set.png');
    #intro.item
      =image_tag asset_path('static/mobile_guide/intro.png')
      #quit_btn
        开始答题
