%a{:href => '#mmypanel'}
  to projects list
%a{:href => '#mmmypanel'}
  to question_sets list
.question
  .skip_button
    %a.skip.remote{:href => skip_mobile_question_path(@question.id, :project_id => params[:project_id])}
  = question.title
.share
  .correct_rate
    正确率：#{@question.correct_rate}%
    考考朋友，分享到:
  - @message = share_question_message @question, @project
  - @path = "#{tsina_question_path @question.token, @project, current_user, 'question', @question_set}"
  = render :partial => 'mobile/questions/social_links', :locals => {:message => @message, :path => @path}
#solution
  = form_for([:mobile, question, question.answers.build], :remote => true, :html => {:class => "question_form"}) do |f|
    %input{:type => :hidden, :name => :project_id, :value => @project.id}
    %input#answer{:type => :hidden, :name => "answer[choice]", :value => ""}
    %input#index{:type => :hidden, :name => "index", :value => 0}
  - @choices.each_with_index do |choice, index|
    = link_to choice, "#", :onclick=>"$.submit_answer('#{choice}', #{index});return false;", :class => "choice"

.progress
  - if false
  -else
    您为本活动答对了
    %span.orange= user_correct_count
    题。
    - if @project.rate < 1000 && !([12,14].include? @project.id.to_i)
      还差
      %span.orange= @project.rate - user_correct_count % @project.rate
      题就可以独立助捐
      %span.orange= (user_correct_count/@project.rate + 1) * @project.benefit.unit_rate
      #{@project.benefit.unit}#{@project.benefit.short_name}。
      .progress_bar_outter
        .progress_bar_inner{:style => "width:#{ ( user_correct_count % @project.rate )*100/ @project.rate}%"}
      .clear
    - elsif !([12,14].include? @project.id.to_i)

      还差
      %span.orange= @project.rate - user_correct_count % @project.rate
      题才能独立助捐
      %span.orange= (user_correct_count/@project.rate + 1) * @project.benefit.unit_rate
      #{@project.benefit.unit}#{@project.benefit.short_name}.
    - else
      只凭您个人的力量很难,还是邀请您的好友一起来答题做公益吧! 

