<style>
body{ background:#fffff0;}
</style>
<%content = flash[:notice] ? flash[:notice] : (user_signed_in? ? "" : "登录后可以选择更多题集")%>
<%if content.present?%>
<div style="margin-top:60px;text-align:center"><%=content%></div>
<%end%>
<div class="hdnr" style="margin-top:<%=content.blank? ? '60px' : '10px'%>;">
  <div class="hdleft">
    <div class="hdflnav">
      <h2><a href="?">全部分类</a></h2>
      <ul>

      	<%Category.shown.each do |c|%>
        <li  class="<%='on' if params['category_id'].to_i==c.id%>"><a href="?category_id=<%=c.id%>"><%=c.name%></a></li>
        <%end%>
      </ul>
    </div>
    <div class="hdflnr">
      <div class="hdflnrtop"> </div>
      <div class="hdflnrone">
        <ul>
           <%@featured_question_sets.each do |question_set|%>
           <div class="question_set_<%=question_set.id%> question_set_narrow">
             <li>
               <input type="checkbox" class="submit_subscribe" value="<%=question_set.id%>" <%='disabled' unless user_signed_in?%>/>
               <img src="<%=question_set_image_path(question_set)%>" width="61" height="61" />
               <div>
                 <h3><%=link_to question_set.name[0..13],random_questions_path(:question_set => question_set.id)%></h3>
                 <p><%=question_set.description%></a></p>
               </div>
            </li>
           </div>
           <%end%>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="hdflright">
    <div class="yxtjtop">
	  <h2>已选题集</h2>
	  <%=link_to "", random_questions_path(:question_set_random => 1)%>
	  
	</div>
 <div  class="hdflnrone yxnr">
	 <ul>
     <%@user_question_sets.each do |question_set|%>  
         <div class="question_set_<%=question_set.id%> question_set_narrow">   
         <li>
            <input type="checkbox" class="reset_subscribe" value="<%=question_set.id%>"/>
            <img src="<%=question_set_image_path(question_set)%>" width="61" height="61" />
            <div>
            	 <h3><%=link_to question_set.name[0..13],random_questions_path(:question_set => question_set.id)%></h3>
                 <p><%=question_set.description%></a></p>
            </div>
         </li>
        </div>
	<%end%>	        
    </ul>
 </div>     
</div>
</div>
<script type="text/javascript">
  (function() {
jQuery(function($) {
var on_subscribe, on_unsubscribe;
$('input.reset_subscribe').attr('checked', true);
$('input.submit_subscribe').attr('checked', false);
on_subscribe = function(context) {
   var question_set;
   $.get('/question_sets/' + context.value + '/subscribe');
   $(context).removeClass('submit_subscribe');
   $(context).addClass('reset_subscribe');
   $(context).attr('checked', true);
   question_set = $(context).parent().parent();
   question_set.removeClass('question_set_hovered');
   question_set.remove();
   $('.hdflright .hdflnrone').children("ul").prepend(question_set);
   return $(context).on('change', function() {
      return on_unsubscribe(this);
   });
};
on_unsubscribe = function(context) {
   var question_set;
   $.get('/question_sets/' + context.value + '/unsubscribe');
   $(context).removeClass('reset_subscribe');
   $(context).addClass('submit_subscribe');
   $(context).attr('checked', false);
   question_set = $(context).parent().parent();
   question_set.removeClass('question_set_hovered');
   question_set.remove();
   $('.hdflnr .hdflnrone').children("ul").prepend(question_set);
   return $(context).on('change', function() {
     return on_subscribe(this);
   });
};
$('input.reset_subscribe').on('change', function() {
   return on_unsubscribe(this);
});
return $('input.submit_subscribe').on('change', function() {
   return on_subscribe(this);
});
});
}).call(this);

</script>
