#no_question_notice
  你所选择的题集已经答空，请重新选择题集
%div{'data' => {'role' => 'collapsible-set', 'collapsed-icon' => 'plus'}}
  - Category.shown.each do |c|
    .category{'data' => {'role' => 'collapsible'}}
      %h3
        = c.name
        = select_total_ratio_str c
      #question-set-list{'data' => {'role' => 'listview'}}
        - c.question_sets.each do |question_set|
          %li.question-set-item{'data' => {'icon' => 'false', 'qsid' => "#{question_set.id}"}}
            %a{'href' => '#'}
              %img.ui-li-thumbnail.lazy{data: {original: "#{question_set_image_path(question_set)}"}, width: 61, height: 61 }
              %h3.ui-li-heading= question_set.name[0..13]
              %p.ui-li-desc= question_set.description
              %img.left-icon{'src' => "#{asset_path('static/question_set/unchecked.png')}"}
              - if @user_question_sets.include?(question_set)
                %img.left-icon.button-check{'src' => "#{asset_path('static/question_set/checked.png')}"}
              - else
                %img.left-icon.button-check.hidden{'src' => "#{asset_path('static/question_set/checked.png')}"}
