.question
  .skip_button
    %a.next.remote{:href => random_questions_path(:question_set => params[:question_set], :project_id => params[:project_id])}
  = @linked_question.html_safe
.share
  .correct_rate
    正确率：#{@question.correct_rate}%
  考考朋友，分享到:
  - @message = share_question_message @question, @project
  - @path = "#{share_question_path @question.token, @project, current_user, 'question', @question_set}"
  = render :partial => 'questions/social_links', :locals => {:message => @message, :path => @path}
#solution
  %a.remote{:href => random_questions_path(:question_set => params[:question_set], :project_id => params[:project_id]), :onclick => "return false;"}
    %span.cursor_next
  - @question.choices.each_with_index do |choice, index|
    .choice_row
      .mark
        -if question.correct_index == index
          .correct
        -elsif selected_index == index
          .wrong
      = choice
  -if !question.explanation.empty?
    .explanation
      .ex_title= t(:'answer.explanation')
      = question.explanation

= render :partial => @project.progress_bar_path ,:locals => {:project => @project}



