<%= form_for([:new_admin,@pic]) do |f| %>

    <div class="order_number">
        <table class="grid_order">
            <tbody>
              
                
                <tr height="35">
                    <td class="td01"><b>*</b>图片:</td>
                    <td>
                       <%= f.file_field :upload_image, :size=>60 %>
                       
                       <%= image_tag @pic.upload_image.url ,:width=>40,:height=>40 if !@pic.upload_image.blank? %>
                       
                    </td>
                </tr>

                <tr height="35">
                    <td class="td01"><b>*</b>图片链接:</td>
                    <td>
                       <%= f.text_field :link, :size=>60 %>
                    </td>
                </tr>

                <tr height="35">
                    <td class="td01">置顶:</td>
                    <td>
                     
                      是否置顶 <%= f.check_box :is_top %>
                    
                    </td>
                </tr>
                <tr height="35">
                    <td class="td01"></td>
                    <td>
                    <input name="commit" value="修改" type="submit">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<% end %>
