<h1 class="title">
 <span class="title_left">图片列表</span>
  <span class="title_right">
    <%= link_to "添加",new_new_admin_asset_path %>
  
  </span>   
</h1>
<div style="text-align:center;color:green;">
    <%= flash[:notice] %>
</div>

<table class="grid">
    <thead>
        <tr>
            <th width="5%">ID</th>
            <th width="10%">图片</th>
            <th width="10%">链接</th>
            <th width="10%">是否置顶</th>
            <th width="10%">管理</th>
        </tr>
    </thead>
    <tbody>
      <% @pics.each do |notice| %>
        <tr>
            <td width="5%"><%= notice.id %> </td>
            <td width="10%"><%= image_tag notice.upload_image.url ,:width=>40,:height=>40%></td>
              <td width="10%"><%= notice.link%></td>

            <td width="10%"><%= notice.is_top ? "Yes" : "No" %></td>
            <td width="10%">
             <%= link_to "修改", edit_new_admin_asset_path(notice), :title=>"修改", :class=>"delete" %>
              <%= link_to "删除", new_admin_asset_path(notice), :method=>:delete, :title=>"删除", data: {:confirm=>"确定删除此条信息吗？"}, :class=>"delete" %>
            </td>
        </tr>
      <% end -%>
      <% if @notices.blank? %>
        <tr>
            <td colspan="6">暂无相关数据</td>
        </tr>
      <% end -%>
    </tbody>
</table>
  <%#= paginate @notices %>
<%#=page_info(@categories)%>
