%h4
  项目简介

= form.input :start_time, label: "开始答题时间", as: :string
= form.input :end_time, label: '结束答题时间', as: :string
= form.input :limit, label: '物资数上限'
= form.input :description, label: '项目描述', as: :text
= form.input :tagline, label: '一句话', as: :text
= form.input :upload_image_about, label: '介绍图(项目信息页面)', as: :file

%h4
  捐赠方
=form.association :sponsor, :label_method => lambda {|r| "#{r.id} #{r.name}"}

%h4
  接收方
=form.association :coordinator, :label_method => lambda {|r| "#{r.id} #{r.name}"}

%h4
  物资详情
=form.association :benefit, :label_method => lambda {|r| "#{r.id} #{r.name}"}
