= form.input :name, label: '项目名称'
= bigger_form.input :rate, label: '每答对题目(道)'
= bigger_form.input :unit_rate, label: '兑换'
= bigger_form.association :benefit, label: '物资'
= bigger_form.input :limit, label: '物资数上限'
= form.input :upload_image_main, label: '首页活动图片', as: :file
