.project_block_wrapped{class: show ? "displayed block_"+project.id.to_s : "hidden block_"+project.id.to_s, id: "project_block_"+project.id.to_s}
  .project_image= image_tag project_image_path(project, :main)
  .project_screen
  .project_overview
    .project_title
      = project.common_data.name
    - if project.id==25
      .project_equation(style="background-color: #FF4000;")
        = project.equation
    - else
      .project_equation
        = project.equation
    .project_buttons
      = link_to image_tag(asset_path('static/begin.png')), random_questions_path(:project_id => project.id,:project_type => project.class.to_s), :class => "button_left"
      = link_to image_tag(asset_path('static/detail.png')), project_path(project), :class => "button_right"
  .clear

