.project_header
  .start_button=link_to image_tag(asset_path('static/answer.png')), random_questions_path(:project_id => project.id)
  = project.name
.block_label
  项目简介
.block_content
  .right_image= image_tag project_image_path(project, :about), :alt => project.name
  答题开始时间：#{project.start_time.strftime "%m月%d日"}
  %br
  :plain
    #{project.description}
  .clear
.block_label
  活动伙伴介绍
.block_content
  .left_image= link_to image_tag(organization_image_path(project.sponsor), :alt => project.sponsor.name), project.sponsor.url, :target => "_blank", :onclick=>"_gaq.push(['_trackEvent', 'Outbound', 'Sponsor', 'project_show']);"
  - project.sponsor.description.each_line do |line|
    %p
      :plain
        #{line}
  .clear
.block_content
  .right_image= link_to image_tag(organization_image_path(project.coordinator), :alt => project.coordinator.name), project.coordinator.url, :target => "_blank", :onclick=>"_gaq.push(['_trackEvent', 'Outbound', 'Coordinator', 'project_show']);"
  - project.coordinator.description.each_line do |line|
    %p
      :plain
        #{line}
  .clear
.clear
