= simple_form_for(@project, :html => { :multipart => true }) do |f|
  %h3
    基本信息
  .p
    = render partial: :f_basic_info, locals: {'f' => f}

  %h3
    项目详情
  .p
    = render partial: :f_project_info, locals: {'f' => f}

  %h3
    答题页
  .p
    = render partial: :f_question, locals: {'f' => f}

  %h3
    分享信息
  .p
    = render partial: :f_share, locals: {'f' => f}
