.project_tab.tab.displayed
  .project_tag
    - if on_question_page
      .project_button
        = link_to image_tag(asset_path("static/project_button.png"), :alt => '查看详情'), project_path(project), :onclick=>"_gaq.push(['_trackEvent', 'Internal', 'project_detail', 'project_tab']);"
    = project.equation
  .project_explanation
    = project.tagline
  .project_numbers
    .project_coordinator
      .coordinator_label
        - if project.tab_show_num==0 
          捐赠提供方
          //助农卡提供方
        - elsif project.tab_show_num==1
          捐赠接收方
          //执行协助方
        - else
          = project.customed_name
          //捐赠接收方
      .coordinator_logo
        - if project.tab_show_num==0
          %a.image{:href => project.coordinator.url, :target => "_blank", :onclick=>"_gaq.push(['_trackEvent', 'Outbound', 'Coordinator', 'project_tab']);"}
            = image_tag(organization_image_path(project.coordinator), :alt => project.coordinator.name)
        - elsif project.tab_show_num==1
          %a.image{:href => project.benefit.url, :target => "_blank", :onclick=>"_gaq.push(['_trackEvent', 'Outbound', 'Coordinator', 'project_tab']);"}
            = image_tag(organization_image_path(project.benefit), :alt => project.benefit.name)
        - else 
          %a.image{:href => project.customed_url, :target => "_blank", :onclick=>"_gaq.push(['_trackEvent', 'Outbound', 'Coordinator', 'project_tab']);"}
            = image_tag(project.upload_image_customed.url, :alt => project.customed_name)
    .project_stats
      .stat_row
        %span.numbers.participation_count #{project.participation_count}人
        已参与
      .stat_row
        累计答对
        %span.numbers.correct_count #{project.correct_count}题
      .stat_row
        = project.id==14 ? "发放助农卡" : "捐赠#{project.benefit.short_name}"
        %span.numbers.item_count 
          =  get_item_count_and_unit(project)
          
  .clear
