= stylesheet_link_tag "project_style"
.columns
  - if flash[:notice]
    .notice= flash[:notice]
  .project_left
    - if @project.project_kind==2
      .project_info
        = render :partial => "special", :locals => {:main_id => @project.id,:project=>@project}
    - else
      .project_info
        = render :partial => @project, :locals => {:main_id => @project.id}
      = render :partial => 'projects/others', :locals => {:projects => @projects}
  .project_right
    = render :partial => @project.id==12 ? 'projects/new_tab' : 'tab', :locals => {:project => @project, :on_question_page => false}
  .clear
