<style>
p{font-size: 12px;line-height: 24px;}
</style>
<p class="MsoNormal">
	<b><span style="color:#F79646;">你是否希望让大众更加了解企业的公益行动？</span></b>
</p>
<p class="MsoNormal">
	<b><span style="color:#F79646;">你是否希望让大众更深入的与企业的公益行动发生互动？</span></b>
</p>
<p class="MsoNormal">
	<b><span style="color:#F79646;">你是否希望让大众在轻松快乐中记住企业的公益形象？</span></b>
</p>
<p class="MsoNormal">
	<span style="">回馈社会、履行企业社会责任已经成为企业战略目标中的重要一环。越来越多的企业选择利用其丰富的资源做捐赠、推动公益项目的发展。</span>
</p>
<p class="MsoNormal">
	<span style="">小题大作为企业提供了一个简单、有趣、透明的公益捐赠平台，我们期待与您的合作，共同营造企业积极、正面的公益形象。</span>
</p>
<h1>
	<span style="font-size:14.0pt;line-height:240%;color:#F79646;">为什么选择小题大作微公益？</span>
</h1>
<p class="MsoNormal">
	<b><span style="color:#F79646;">1. </span></b><b><span style="color:#F79646;">更深入的用户参与：</span></b><span style="">有趣的答题设计、优质的题目让用户在快乐的互动中参与公益，比转发更深入有趣，在趣味答题中进行聪明的传播和消费者教育</span>
</p>
<p class="MsoNormal">
	<b><span style="color:#F79646;">2. </span></b><b><span style="color:#F79646;">强大的新媒体传播效果：</span></b><span style="">网友轻松分享题目或答题成就至社交网络，依托新媒体运营进行传播</span>
</p>
<p class="MsoNormal">
	<b><span style="color:#F79646;">3. </span></b><b><span style="color:#F79646;">更正面的公益形象：</span></b><span style="">简单、有趣、透明的公益捐赠平台为企业营造更正面的公益形象</span>
</p>
<h1>
	<span style="font-size:14.0pt;line-height:240%;color:#F79646;">我们的优势</span>
</h1>
<p class="MsoNormal">
	<b><span style="color:#F79646;">1. </span></b><b><span style="color:#F79646;">干净透明：</span></b><span style="">所有物资直接从企业到受赠方，不经手我们；不玩儿虚假数据，只有真实的用户，才能带来真正价值</span>
</p>
<p class="MsoNormal">
	<b><span style="color:#F79646;">2. </span></b><b><span style="color:#F79646;">不费人力：</span></b><span style="">仅耗费企业的极低人力资源</span>
</p>
<p class="MsoNormal">
	<b><span style="color:#F79646;">3. </span></b><b><span style="color:#F79646;">传播量大：</span></b><span style="">较低捐赠额，即可覆盖大量用户</span>
</p>
<p class="MsoNormal">
	<b><span style="color:#F79646;">4. </span></b><b><span style="color:#F79646;">创意公益：</span></b><span style="">年轻团队在项目设计中融入各类创意，线上线下互动，让传播更巨影响力</span>
</p>
<p class="MsoNormal" style="text-align:center;" align="center">
	<span><img src="<%=asset_path('static/hezuo.png')%>" height="191" width="204" /></span><span style=""></span>
</p>
<p class="MsoNormal">
	<span style="">&nbsp;</span>
</p>
<p class="MsoNormal">
	<span style="">这些企业，曾经也在小题大作微公益上线过捐赠项目</span>
</p>
<p class="MsoNormal">
	<img src="<%=asset_path('logo/pingan.jpg')%>" width=100 height=60 />
	<img src="<%=asset_path('logo/shuidian2.png')%>" width=120 height=60 />
	<img src="<%=asset_path('logo/changcheng.jpg')%>" width=120 height=60 />
	<img src="<%=asset_path('logo/jiuyang.gif')%>" width=120 height=60 />
	<img src="<%=asset_path('logo/ailang.jpg')%>" width=120 height=60 />
	<img src="<%=asset_path('logo/tianji.png')%>" width=100 height=60 />
	<img src="<%=asset_path('logo/jinding.jpg')%>" width=120 height=60 />
	<img src="<%=asset_path('logo/wanhua.jpg')%>" width=120 height=60 />
	<!--<span style="">中国平安、中国水电、长城电脑、九阳股份、太极牛、爱浪音响、金顶集团、万华板材（请见<span>Logo</span>资料包）</span>-->
</p>
<h1>
	<span style="font-size:14.0pt;line-height:240%;color:#F79646;">上线流程</span>
</h1>
<p class="MsoNormal">
	<b><span style="color:#F79646;">Step1</span></b><b><span style="color:#F79646;">：</span></b><span style="">邮件、微博私信或者电话联系我们，沟通捐赠意向</span>
</p>
<p class="MsoNormal">
	<b><span style="color:#F79646;">Step2</span></b><b><span style="color:#F79646;">：</span></b><span style="">确定合作意向，如捐赠数量与金额，受赠方，签订合作协议</span>
</p>
<p class="MsoNormal">
	<b><span style="color:#F79646;">Step3:</span></b><span style=""> </span><span style="">准备上线资料，如题目、文案、传播方案等</span>
</p>
<p class="MsoNormal">
	<b><span style="color:#F79646;">Step4:</span></b><span style=""> </span><span style="">上线前确认，双方均确认无误即可上线</span>
</p>
<p class="MsoNormal">
	<span style="">&nbsp;</span>
</p>
<p class="MsoNormal">
	<b><span style="color:#F79646;">永远不要怀疑一群执着的人有改变世界的力量！小题目，也能有大作为。</span></b>
</p>
<p class="MsoNormal">
	<span style="">&nbsp;</span>
</p>
<p class="MsoNormal">
	<span style="">联系人</span>
</p>
<p class="MsoNormal">
	<span style="">徐昌举</span>
</p>
<p class="MsoNormal">
	<span style="">152I06O5019</span>
</p>
<p class="MsoNormal">
	<span style="">xcjchandler#gmail.com(</span><span style="">把<span>#</span>换成<span>@)</span></span>
</p>
<p class="MsoNormal">
	<b><span>&nbsp;</span></b>
</p>