- @nav_class = :about
.columns(style="margin-top:60px")
  .static_left
    .static_links
      .link= link_to '关于我们', about_us_path, :class => 'selected'
      .link= link_to '企业合作', donate_path
      .link= link_to '常见问题', faq_path
      .link= link_to '联系我们', contact_path
      .link= link_to '致谢', thanks_path
  .static_right
    .static_header
      关于我们
    .static_content
      .description
        每个网民的力量微不足道，能为千千万万需要帮助的人奉献什么？
      .description
        官方捐赠渠道备受质疑，公益捐助是否只能通过传统途径？
      .description
        怎样的公益参与，既能有效地利用零碎时间，又能创造真正的价值？
      .description
        “小题大作”微公益网站中国第一个趣味性公益问答网站，旨在解决上述种种现存的问题：通过简单、有趣、透明的方式让尽可能多的人能够参与公益、贡献爱心、 收获知识。
      .image
        = image_tag asset_path("static/chart.png"), :width => 510, :alt => "三方共赢的创新公益机制"
      .description
        我们提供了一个三方共赢模式，在这里：
      .description
        @有爱用户，您可以在轻松有趣的答题体验中，参与公益、收获知识和快乐！
      .description
        @爱心企业，您可以利用“小题大作”平台对用户进行针对性的教育和传播，也可以利用这个平台履行自己的社会责任！
      .description
        @给力项目，您可以让项目获得资源之外，通过社会化媒体传播项目，让更多的人了解你们为公益事业做的努力！
      .description
        小题大作认为：公益应当是一个可持续的链条，如果每一方都负责其最擅长的一环，一定能将公益做得更好。
      .description
        小题大作希望：通过我们搭建的平台，让每个人都可以贡献智慧和时间，传递正能量。
      .description
        小题大作团队始终坚信：<font color = #f80>小题目，也能有大作为!</font>
  .clear
