- @nav_class = :about
.columns(style="margin-top:60px")
  .static_left
    .static_links
      .link= link_to '关于我们', about_us_path
      .link= link_to '企业合作', donate_path
      .link= link_to '常见问题', faq_path
      .link= link_to '联系我们', contact_path, :class => 'selected'
      .link= link_to '致谢', thanks_path
  .static_right
    .static_header
      联系我们
    .static_content
      .description
        如果你是充满爱心的企业，对新媒体上的公益营销感兴趣，希望在为公益项目捐资捐物的同时推广品牌，请联系 qiye@dazuoxiaoti.com
      .description
        如果你是蓄势待发的基金会或公益组织，希望和我们合作获得更多的物资、开发更好的项目，请联系 xiangmu@dazuoxiaoti.com
      .description
        如果你对我们的题目有兴趣，希望帮助我们改进题目或者出更有意思的题，请联系 timu@dazuoxiaoti.com
      .description
        如果你认同小题大作的模式，希望一起让“微公益”的理念深入人心，小题大作公益团队正在招募工作人员，如果你身处北京并对以下工作（志愿者兼职也可）感兴趣，请联系 joinus@dazuoxiaoti.com
      .description
        用户体验设计师：帮助设计、改进小题大作网站的交互界面和用户体验
        %br
        %br
        网站前端工程师：熟悉基本平面设计和基本网页前端语言(html,css,jquery)，愿意学习新的语言
        %br
        %br
        新媒体运营总监：参与运营小题大作微博和人人帐号，搜集创新公益信息新闻，与小题大作粉丝互动
        %br
        %br
        业务拓展总监：负责联系企业、公益项目，了解双方需求，开发针对性项目并设计推广策略
        %br
        %br
        公关总监：设计项目推广策略，宣传创意策划
        %br
        %br
        题目编辑：协调管理出题流程，确保题目质量，题目分类审核 （不需在北京）
        %br
        %br
        法律顾问：提供小题大作运营相关法律意见 
  .clear
