- @nav_class = :about
.columns(style="margin-top:60px")
  .static_left
    .static_links
      .link= link_to '关于我们', about_us_path
      .link= link_to '企业合作', donate_path
      .link= link_to '常见问题', faq_path, :class => 'selected'
      .link= link_to '联系我们', contact_path
      .link= link_to '致谢', thanks_path
  .static_right
    .static_header
      常见问题
    .static_content
      .description
        .top_q 关于捐助商:
        .top_q= link_to '1. 我只是回答了一些问题，那最终是谁来出钱赞助这些物资呢？', '#1'
        .top_q= link_to '2. 物资会由小题大作团队经手吗？', '#2'
        .top_q= link_to '3. 如果小题大作有很多的赞助资源，为什么需要我答题而不直接赞助物资给受助者呢？', '#3'
        .top_q= link_to '4. 我/我的公司有兴趣作为赞助未来的公益项目，应该如何参与呢？', '#4'
        .top_q 关于公益效应: 
        .top_q= link_to '5. 我在小题大作答题真的可以为公益项目做出贡献么？', '#5'
        .top_q= link_to '6. 我能怎样了解项目的进程，物资的发放情况呢？', '#6'
        .top_q 关于网站功能：
        .top_q= link_to '7. 为什么我答题目一直有上限？题目的上限设置模式是怎样的？', '#7'
        .top_q= link_to '8. 为什么有些我做过了的题目会再次出现？', '#8'
        .top_q= link_to '9. 小题大作的题目是怎么来的呢？', '#9'
        .top_q= link_to '10. 小题大作是怎样确定每一个问题的答案的？', '#10'
        .top_q= link_to '11. 我想知道我出题目应该符合怎样的标准才能被选中？', '#11'
        .top_q= link_to '12. 我为什么需要在小题大作注册？', '#12'
        .top_q 关于网站推广：
        .top_q= link_to '13. 我可以通过哪些途径来了解小题大作的最新动态和更多关于公益项目的信息呢？', '#13'
        .top_q= link_to '14. 小题大作的宣传渠道有哪些呢？', '#14'
        .top_q= link_to '15. 我知道一些公益项目、媒体，请问我能将它们推荐给你们么？', '#15'
        .top_q 关于小题大作团队：
        .top_q= link_to '16. 小题大作网站的可持续发展模式是什么？', '#16'
        .top_q
          = link_to '17. 小题大作网站背后的团队到底是一群什么样的人呢？', '#17'
          %a{:name => "1"}
      .description
        .q
          1. 我只是回答了一些问题，那最终是谁来出钱赞助这些物资呢？
        .a
          小题大做的每个项目都有对应的赞助商出资实际购买这些物资，他们的名字会出现在主页的中下方。这些企业和你一样关心我们的项目受助者，将和你一起努力改善他们的生活。我们非常感谢赞助商们的积极参与，他们的捐献使我们的关爱能够真正到达受助者。
          %a{:name => "2"}
      .description
        .q
          2. 物资会由小题大作团队经手吗？
        .a
          当然没有咯！小题大作筹集到的所有物资并不经过我们的手，而是直接由赞助商送到受助者手中，小题大作在中间牵线搭桥，并致力于使每一笔物资物尽其用。
          %a{:name => "3"}
      .description
        .q
          3. 企业为什么需要我答题而不直接赞助物资给受助者呢？
        .a
          除了社会效益，企业同时也看中能否通过公益行为获得一定宣传效应。在答题过程中，企业的标识和相关题目会穿插其中，因此是你和成千上万网友的参与为需要帮助的人赢得了这一笔一笔的物资。
        .a
          同时相较于企业直接资助，我们更加看重你的参与！小题大作倡导一个人人参与的微公益理念。
          %a{:name => "4"}
      .description
        .q
          4. 我/我的公司有兴趣作为赞助未来的公益项目，应该如何参与呢？
        .a
          小题大作非常欢迎你的参与，详情请联系:  qiye@dazuoxiaoti.com 
          %a{:name => "5"}
      .description
        .q
          5. 我在小题大作答题真的可以为公益项目做出贡献么？
        .a
          是的！你答对的每一道题都使我们对应项目的受助者得到更多的帮助，你的每一次思考都可能会给一个孩子带来一口午餐、两个小时的课程、几页有趣的读物。
        .a
          和你一样，成千上万的朋友们都在关心着我们每一个项目的受助者，聚沙成塔，我们可以让他们的生活也变得一样美好。
          %a{:name => "6"}
      .description
        .q
          6. 我能怎样了解项目的进程，物资的发放情况呢？
        .a
          小题大作的每个项目都有专门的微博来实时更新项目进展情况，同时在我们的网站上我们会展示相关的收据发票等财务相关信息、图片信息，向你及时的汇报近况。在项目结束后，小题大作将发布完整的项目总结。
          %a{:name => "7"}
      .description
        .q
          7. 为什么我答题目一直有上限？题目的上限设置模式是怎样的？
        .a
          小题大作推广的理念是“天天答题，天天公益”。我们希望鼓励更多人参与，也鼓励你常回来瞅瞅。由于目前我们高质量的题目有限，所以在题量设置上有一定限制。希望作为小题大作用户的你可以积极出题，贡献你的知识与智慧，让更多人在学习之余做公益。
        .a
          使用账号登陆的用户每天可增加30道题。
          %a{:name => "8"}
      .description
        .q
          8. 为什么有些我做过了的题目会再次出现？
        .a
          我们会记住每一个登录用户的做题记录，所以小题大作会再次提问你以前做错了的题，这样在你热心的帮助别人的时候，可以真的学到一些有趣的小知识。
          %a{:name => "9"}
      .description
        .q
          9. 小题大作的题目是怎么来的呢？
        .a
          我们的一部分题目来自于小题大作的志愿者，同时小我们也会和合作机构（如
          = link_to '果壳网', 'http://www.guokr.com/', :target => '_blank'
          ）一起丰富题目的种类。当然最重要的是，现在作为用户的你也可以参与我们，共同出题，我们更加需要你的支持！
          = link_to '赶快行动吧！', new_pending_question_path, :class => 'fancy'
          不过百密难防一疏，个别问题的答案会有值得斟酌之处。若发现问题，你可以直接在题目旁边提交反馈，跪求拍砖!
          %a{:name => "10"}
      .description
        .q
          10. 小题大作是怎样确定每一个问题的答案的？
        .a
          我们的出题团队在自己的专业知识基础上会仔细考证每一道题目与答案的准确性，当然，百密难防一疏，个别问题的答案会有值得斟酌之处。如果你对我们的题目或者答案有任何的疑问或质疑，跪求拍砖： timu@dazuoxiaoti.com
          %a{:name => "11"}
      .description
        .q
          11. 我想知道我出题目应该符合怎样的标准才能被选中？
        .a
          如果你的题目有趣而又不恶趣；如果你的题目蕴含小知识或者大智慧；如果你的题目难度适中又充满新鲜感与创意，那么，你将会成为下一个出题达人！开动脑筋吧，来考一考所有的题客咯！而且你所出的题目页面也会显示你的ID，给自己和朋友一份惊喜吧！
          %a{:name => "12"}
      .description
        .q
          12. 我为什么需要在小题大作注册？
        .a
          不需注册你可以回答十个有效问题（和捐助物资对应的问题），但是小题大作希望可以帮你记录下来你的每一次贡献，同时也希望可以每次给你新鲜的问题，让你可以了解更多有趣的知识。
        .a
          而且小题大作支持人人账号，新浪微博账号直接登录，所以，用已有的账号开始答题吧！
          %a{:name => "13"}
      .description
        .q
          13. 我可以通过哪些途径来了解小题大作的最新动态和更多关于公益项目的信息呢？
        .a
          你可以关注我们的新浪微博、人人公共主页（点击正上方图标）或者豆瓣小组，我们会及时更新动态，同时欢迎爱公益爱生活的你热情转发！如果你点击订阅邮件，我们也会定期公布一些新项目的信息。
          %a{:name => "14"}
      .description
        .q
          14. 小题大作的宣传渠道有哪些呢？
        .a
          由于我们目前推广的渠道有限，网站的运营也只是出于初始阶段，所以如果你有帮助宣传小题大作好的想法或知道愿意了解我们的媒体，请联系media@dazuoxiaoti.com
          %a{:name => "15"}
      .description
        .q
          15. 我知道一些公益项目、媒体，请问我能将它们推荐给你们么？
        .a
          当然可以，我们十分欢迎有爱心热衷于公益事业的你推荐愿意与我们合作的公益项目，媒体，可以给我们发邮件告诉我们具体信息咯。
        .a
          邮件请发送至xiangmu@dazuoxiaoti.com
          %a{:name => "16"}
      .description
        .q
          16. 小题大作网站的可持续发展模式是什么？
        .a
          小题大做网站是一个将企业、公益项目、广大网民联系起来的公益平台。我们希望通过网民，企业和媒体的积极支持与参与，不断推动我们的创新与发展。我们希望得到您更多的反馈信息（单击右下角“给我们反馈”）
          %a{:name => "17"}
      .description
        .q
          17. 小题大作网站背后的团队到底是一群什么样的人呢？
        .a
          我们是一群热爱公益、希望用创新的方法解决社会问题的新青年。有一些全职的工作人员，也有一些做兼职的实习生。如果你对网站设计，新媒体运营，或者企业公关等感兴趣，可以联系我们joinus@dazuoxiaoti.com
  .clear
