- @nav_class = :thanks
.columns(style="margin-top:60px")
  .static_left
    .static_links
      .link= link_to '项目介绍', about_us_path
      .link= link_to '企业合作', donate_path
      .link= link_to '常见问题', faq_path
      .link= link_to '联系我们', contact_path
      .link= link_to '致谢', thanks_path, :class => 'selected'
  .static_right
    .static_header
      感谢所有参与公益答题奉献爱心的你们
    .static_content
      .description
        感谢以下“小题大作”网站的合作伙伴：
      .logos
        .label 捐助合作方：
        .pic
          = link_to image_tag(asset_path("01/1.png"), :height => 40, :alt => "中国电子"), "http://www.greatwall.cn/", :target => "_blank"
          = link_to image_tag(asset_path("01/2.png"), :height => 40, :alt => "九阳"), "http://weibo.com/joyoung", :target => "_blank"
          = link_to image_tag(asset_path("01/3.png"), :height => 40, :alt => "联动优势"), "http://www.umpay.com/", :target => "_blank"
          = link_to image_tag(asset_path("01/4.jpg"), :height => 40, :alt => "禾香板"), "http://www.whstby.cn/index.php", :target => "_blank"
          = link_to image_tag(asset_path("01/5.png"), :height => 40, :alt => "金顶集团"), "http://www.169gold.cn/", :target => "_blank"
          = link_to image_tag(asset_path("01/6.jpeg"), :height => 40, :alt => "与人公益基金会"), "http://www.yufoundation.org.cn/", :target => "_blank"
          = link_to image_tag(asset_path("01/7.jpg"), :height => 40, :alt => "猫扑"), "http://shop33159140.taobao.com/", :target => "_blank"
      .logos 
        .label 项目合作方：
        .pic
          = link_to image_tag(asset_path("02/1.jpg"), :height => 40, :alt => "共青团关爱农民工子女志愿服务行动"), "http://www.zgzyz.org.cn/node_22005.htm", :target => "_blank"
          = link_to image_tag(asset_path("02/2.png"), :height => 40, :alt => "九阳希望厨房"), "http://weibo.com/hopekitchen", :target => "_blank"
          = link_to image_tag(asset_path("02/3.png"), :height => 40, :alt => "北京市盲人学校"), "http://mrxx.bjedu.gov.cn/", :target => "_blank"
          = link_to image_tag(asset_path("02/4.jpg"), :height => 40, :alt => "北京新阳光慈善基金会"), "http://www.isun.org/", :target => "_blank"
          = link_to image_tag(asset_path("02/5.png"), :height => 40, :alt => "满天星青少年发展中心"), "http://www.starscn.org/", :target => "_blank"
          = link_to image_tag(asset_path("02/6.jpg"), :height => 40, :alt => "新浪微博企业版"), "http://weibo.com/opodpo", :target => "_blank"
          = link_to image_tag(asset_path("02/7.jpg"), :height => 40, :alt => "乐洁童年"), "http://weibo.com/greenbudchina", :target => "_blank"
          = link_to image_tag(asset_path("02/8.png"), :height => 40, :alt => "单行道"), "http://www.danxingdao.org/", :target => "_blank"
          = link_to image_tag(asset_path("02/9.jpg"), :height => 40, :alt => "幸运土猫"), "http://shop34792626.taobao.com/", :target => "_blank"
          = link_to image_tag(asset_path("02/10.png"), :height => 40, :alt => "Ford"), "http://www.fordgreen.com.cn/", :target => "_blank"
      .logos
        .label 内容合作方：
        .pic
          = link_to image_tag(asset_path("03/1.jpg"), :height => 41, :alt => "北京师范大学"), "http://www.bnu.edu.cn/", :target => "_blank"
          = link_to image_tag(asset_path("03/2.png"), :height => 41, :alt => "北京四中"), "http://www.bhsf.cn/", :target => "_blank"
          = link_to image_tag(asset_path("03/3.jpg"), :height => 41, :alt => "北京交通大学"), "http://www.njtu.edu.cn/", :target => "_blank"
      .logos
        .label 推广合作方：
        .pic
          = link_to image_tag(asset_path("04/1.jpg"), :height => 40, :alt => "大爱清尘"), "http://www.daaiqingchen.org/", :target => "_blank"
          = link_to image_tag(asset_path("04/2.jpg"), :height => 40, :alt => "免费午餐"), "http://www.mianfeiwucan.org/", :target => "_blank"
      .logos
        .label 其他:
        .text
          = link_to "黑苹果青年", "http://www.heipingguo.org/", :target => "_blank"
          ，
          = link_to "康师傅创新挑战赛", "http://gongyi.sina.com.cn/masterkongcontest.html", :target => "_blank"
          ，
          = link_to "希望工程激励行动", "http://jlxd.cydf.org.cn/", :target => "_blank"
      .description
      .description
        同时感谢下述组织及个人对于小题大作微公益的帮助，没有各方的慷慨支持，这个微公益项目不可能顺利发展（排名不分先后）： 
      .description
        = link_to "邓飞", "http://weibo.com/u/1642326133?out=dazuoxiaoti", :target => "_blank"
        ，
        = link_to "何智权", "http://weibo.com/brianho?out=dazuoxiaoti", :target => "_blank"
        ，
        = link_to "曾少强", "http://weibo.com/zengshaoqiang?out=dazuoxiaoti", :target => "_blank" 
        ，
        = link_to "赵老工人", "http://weibo.com/goodideas?out=dazuoxiaoti", :target => "_blank"
        ，
        = link_to "姬十三", "http://weibo.com/jshisan?out=dazuoxiaoti", :target => "_blank"
        ，
        = link_to "安猪", "http://weibo.com/andrewyu0222?out=dazuoxiaoti", :target => "_blank"
        ，
        = link_to "创行中国及各地团队", "http://www.enactuschina.cn/index.aspx?out=dazuoxiaoti", :target => "_blank"
  .clear
