.columns
  .user_left
    .user_header
      .type
        重设密码
    .edit
      .box
        - flash.each do |name, msg|
          .error= content_tag :div, msg, :id => "flash_#{name}"

        = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
          = f.hidden_field :reset_password_token
          = f.input :password
          = f.input :password_confirmation
          = f.commit_button '重设密码'
